StudentHelperForum/Connected Services/ServiceReference1/Service12.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:57520/Service1.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Akatsuki_Service" />
  <xs:element name="SignUp">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="sNum" type="xs:int" />
        <xs:element minOccurs="0" name="sAddress" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="sEmail" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="personalEmail" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="cellphoneNum" type="xs:int" />
        <xs:element minOccurs="0" name="fName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="lName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="password" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SignUpResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SignUpResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Add_To_Cart_Service">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="sNUm" type="xs:int" />
        <xs:element minOccurs="0" name="ServiceID" type="xs:int" />
        <xs:element minOccurs="0" name="ItemQuantity" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Add_To_Cart_ServiceResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Add_To_Cart_ServiceResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Add_To_Cart_Product">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="sNUm" type="xs:int" />
        <xs:element minOccurs="0" name="ProductID" type="xs:int" />
        <xs:element minOccurs="0" name="ItemQuantity" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Add_To_Cart_ProductResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Add_To_Cart_ProductResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="deleteGoodCart">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="goodID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="deleteGoodCartResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="deleteGoodCartResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="deleteServiceCart">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ServiceID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="deleteServiceCartResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="deleteServiceCartResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SignIn">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="email" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="password" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SignInResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SignInResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getGoodsList">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="getGoodsListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Akatsuki_Service" minOccurs="0" name="getGoodsListResult" nillable="true" type="q1:ArrayOfGood" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getGoodItem">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getGoodItemResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Akatsuki_Service" minOccurs="0" name="getGoodItemResult" nillable="true" type="q2:Good" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getServicesList">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="getServicesListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/Akatsuki_Service" minOccurs="0" name="getServicesListResult" nillable="true" type="q3:ArrayOfService" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getProductCartList">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="getProductCartListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/Akatsuki_Service" minOccurs="0" name="getProductCartListResult" nillable="true" type="q4:ArrayOfProductCart" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getServiceCartList">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="getServiceCartListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/Akatsuki_Service" minOccurs="0" name="getServiceCartListResult" nillable="true" type="q5:ArrayOfServiceCart" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getServiceItem">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getServiceItemResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/Akatsuki_Service" minOccurs="0" name="getServiceItemResult" nillable="true" type="q6:Service" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="addGood">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="studentNum" type="xs:int" />
        <xs:element minOccurs="0" name="gName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="gPrice" type="xs:decimal" />
        <xs:element minOccurs="0" name="gdescription" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="gImage" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="gcategory" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="addGoodResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="addGoodResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="deleteGood">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="goodID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="deleteGoodResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="deleteGoodResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="addService">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="studentNum" type="xs:int" />
        <xs:element minOccurs="0" name="sName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="sPrice" type="xs:decimal" />
        <xs:element minOccurs="0" name="sdescription" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="sImage" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="scategory" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="addServiceResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="addServiceResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="deleteService">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="serviceID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="deleteServiceResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="deleteServiceResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getServiceReviews">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="getServiceReviewsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/Akatsuki_Service" minOccurs="0" name="getServiceReviewsResult" nillable="true" type="q7:ArrayOfServiceReview" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getGoodReviews">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="getGoodReviewsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/Akatsuki_Service" minOccurs="0" name="getGoodReviewsResult" nillable="true" type="q8:ArrayOfGoodReview" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getGoodReview">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="goodID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getGoodReviewResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/Akatsuki_Service" minOccurs="0" name="getGoodReviewResult" nillable="true" type="q9:GoodReview" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getServiceReview">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="serviceID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getServiceReviewResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/Akatsuki_Service" minOccurs="0" name="getServiceReviewResult" nillable="true" type="q10:ServiceReview" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>